/** CSS not final mostly used for structure and layout currently **/
html {
    
    height: 100%;
    width: 100%;
}
body {
    
    margin: 0%;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont,"Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#root {
    min-height: 100%;
    min-width: 100%;
    max-Height: 100%;
    max-Width: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}



/** Navigation CSS **/
Button {
    height: 44px;
    width: 88px;
}
.dropdown-menu {
    padding: 0px;
    margin: -0.4em 0em 0em 0em;
    border-radius: .36rem;
    background-color: #373940;
}
.dropdown-divider {
    padding: 0px;
    margin: 0px 0px -3px 0px;
    border-top: 5px solid rgba(255, 255, 255, 0.3);
}
.signOutBtn {
    height: 100%;
    width: 100%;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
    padding: 0px;
}
.signOutBox {
    height: 100%;
    width: 100%;
    padding: 0px;
}
.adminBtn {
    padding: 0px;
}
.accountBtn {
    padding: 0px;
}
.homeBtn {
    padding: 0px;
}
.lndBtn {
    padding: 0px;
}
.signInBtn {
    padding: 0px;
}

btn-danger {
    color: #fff;
    padding: -2px -6px -2px -6px;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130
}

.btn-danger.focus, .btn-danger:focus {
    box-shadow: 0 0 0 .2rem rgba(225,83,97,.5)
}
.mainNav {
    height: 6vh;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0%;
    padding-left: 6px;
    list-style-type: none;
    background-color: #373940;
    font-size-adjust: 0.50;
    z-index: 1
}
.banner {
    flex:1;
    height: 100%;
    width: 40%;
    margin: 0px 0px 0px 6px;
    font-size: 100%;
    list-style-type: none;
    display: inline-flex;
    align-self: center;
    align-items: center;
    
    justify-content: space-between
}
.linksDiv {
    display:flex;
    font-size: 100%;
}
.links {
    display: flex;
    font-size: 100%;
    height: 100%;
    align-self:center;
    justify-content: center;
    padding: 0px 0px 0px 0px;
}
.linksM {
    display: flex;
    font-size: 100%;
    height: 100%;
    align-self: center;
    justify-content: center;
    padding: 0px 0px 0px 0px;
    margin: 0em 2px 0em 2px;
    color:#fff;
    text-decoration:underline;
}
.dropdown-item {
    text-align: center;
    padding: 0px 0px 0px 0px;
    
}
.dropdown-item.active {
        background-color: rgba(255, 255, 255, 1);
    }
.userNav {
    height: 100%;
    margin-right: 5px;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
ul {
    height: 100%;
    list-style-type: none;
    margin:0px;
}
.lNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li {
    display: flex;
    margin: 2px;
    padding:0px;
}


/** Home **/
bubbleLoad {
    color: blue;
}
.bgBtn {
    position: fixed;
    top: 7%;
    left: 8px;
    margin: 0em 0em 0em 0em;
    padding: 0px 0px 0px 0px;
    height: 22px;
    width: 26px;
    font-size: 15px;
}

.contactBtn {
    position: fixed;
    top: 7%;
    right: 8px;
    margin: 0em 0em 0em 0em;
    padding: 0px 0px 0px 0px;
    height: 22px;
    width: 26px;
    font-size: 15px;
}
.contactBtnLnd {
    position: fixed;
    top: 7%;
    right: 8px;
    margin: 0em 0em 0em 0em;
    padding: 0px 0px 0px 0px;
    height: 22px;
    width: 26px;
    font-size: 15px;
    color:black;
}
.mDiv {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0em 12% 2em 12%;
    margin: 1em 0em 0em 0em;
    color: #ffffff;

}
.BtnsDiv {

    margin: 0em 0em 0em 0em;
    padding: 0em 0em 0em 0em;
}
.hmMsgList {
    margin-top: 2px;
}
.moreBtn {
    margin: 2px;
}
.hmDeck {
    align-content: center;
    align-items: center;
    justify-content: center;
    align-self: center;
    padding: 0px;
    margin: 0px 0px 2em 0px;
    max-width: 800px;
}
.card {
    background-color: #373940;
    align-self: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    max-width: 800px;
}
.cardFull {
    background-color: #373940;
    padding: 0em 0em 0em 0em;
    justify-content: center;
    max-width: 800px;
}
.linkNoLine:hover {
    text-decoration-color: #fff;
}
.linkNoLineFull:hover {
    text-decoration-color: #fff;
}
.mTitle {
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    align-self:center;
    padding: 1em 0em 0.5em 0em;
    margin: 5em 0em 2em 0em;
    width: 100%;
    max-width: 800px;
    background-color: #373940;
    border-radius: 1rem;
    box-shadow: 0 0 20px 0 rgba(45,45,45,0.7);
}
    .mTitle h1 {
        font-size: 18px;
    }
    .mTitle h4 {
        font-size: 14px;
        padding: 0em 3em 0em 3em;
    }
.summaryBox {
    padding: 0.5em 0em 0.5em 0em;
    margin: 0em auto 2em auto;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 100%;
    max-width: 800px;
    background-color: #373940;
    border-radius: 1rem;
    box-shadow: 0 0 20px 0 rgba(45,45,45,0.7);
}

    .summaryBox h3 {
        font-size: 20px;
        font-weight: bold;
    }

.sumBoxLang {
    font-size: 12px;
    justify-content:flex-start;
}

    .sumBoxLang h6 {
        font-size: 16px;
        font-weight: bold;
    }

.sumBoxObj {
    font-size: 12px;
    margin: 0em 2em 0em 2em;
}

    .sumBoxObj h5 {
        font-size: 16px;
        font-weight: bold;
    }

.sumBoxSkills {
    font-size: 12px;
    margin: 0em 2em 0em 2em;
}

    .sumBoxSkills h5 {
        font-size: 16px;
        font-weight: bold;
    }
.interestBox {
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 100%;
    max-width: 800px;
    margin: 1em 0em 0em 0em;
    background-color: #373940;
    border-radius: 1rem;
    box-shadow: 0 0 20px 0 rgba(45,45,45,0.7);
}
    .interestBox h5 {
        padding: 0.5em 0em 0em 0em;
        font-weight: bold;
    }
    .interestBox h2 {
        padding: 0em 0em 0.5em 0em;
    }
    .interestBox p {
        font-size: 13px;
        margin: 0.5em 2em 0em 2em;
    }
.educationBox {
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin: 0em auto 2em auto;
    width: 100%;
    background-color: #373940;
    border-radius: 1rem;
    box-shadow: 0 0 20px 0 rgba(45,45,45,0.7);
    max-width: 800px;
}
    .educationBox h6 {
        padding: 0.3em 0em 0em 0em;
        margin: 0em;
        font-size: 16px;
        font-weight: bold;
    }
    .educationGrid {
        display: grid;
        grid-template-columns: 1fr;
        font-size: 12px;
        margin: 0em;
        padding: 0em;
        line-height: 1px;
    }
.firstDiploma {
    margin: 0.5em 0.5em 0em 0.5em;
    padding: 1em 0em 0em 0em;
    background-color: #4b4b4b;
    border-radius: 0.5rem;
}
.secondDiploma {
    margin: 0.5em 0.5em 0.5em 0.5em;
    padding: 1em 0em 0em 0em;
    background-color: #4b4b4b;
    border-radius: 0.5rem;
}
.employmentBox {
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin: 0em auto 1em auto;
    width: 100%;
    background-color: #373940;
    border-radius: 1rem;
    box-shadow: 0 0 20px 0 rgba(45,45,45,0.7);
    max-width: 800px;
}
.employmentBox h6 {
    padding: 0.3em 0em 0em 0em;
    margin: 0em;
    font-size: 16px;
    font-weight:bold;
}
.employmentGrid {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 12px;
    margin: 0em;
    padding: 0em;
    line-height: 1px;
}
.firstJob {
    margin: 0.5em 0.5em 0em 0.5em;
    padding: 1em 0em 1em 0em;
    background-color: #4b4b4b;
    border-radius: 0.5rem;

}
.Collapsible__trigger {
    width: 100%;
    text-decoration: underline;
}
.jobGrid {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.workTitle {
    text-align: start;
    padding-Left: 1em;
}
.role {
    text-align: end;
    padding-right: 1em;
}
.dateSpan {
    font-size: 10px;
    text-align: end;
    padding-right: 1em;
}
.companyLoc {
    font-size: 10px;
    text-align: start;
    padding-Left: 2em;
}
.jobInfo {
    line-height: 14px;
    font-size: 14px;

    padding: 0em 0.5em 0em 0.5em;
}
    .jobInfo p {
        text-decoration: none;
    }
.secondJob {
    margin: 0.5em 0.5em 0em 0.5em;
    padding: 1em 0em 1em 0em;
    background-color: #4b4b4b;
    border-radius: 0.5rem;
}
.thirdJob {
    margin: 0.5em 0.5em 0em 0.5em;
    padding: 1em 0em 1em 0em;
    background-color: #4b4b4b;
    border-radius: 0.5rem;
}
.fourthJob {
    margin: 0.5em 0.5em 0.5em 0.5em;
    padding: 1em 0em 1em 0em;
    background-color: #4b4b4b;
    border-radius: 0.5rem;
}

/** Landing CSS **/
.lndMain {
    top: 7em;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 10em 0em 0em 0em;

    line-height: 1.6;

}
.lndHeader {
    margin: 0em auto 8em auto;
    width: 100%;
    
    background-color: #373940;
    border-radius: 1rem;
    box-shadow: 0 0 20px 0 rgba(45,45,45,0.7);
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    padding: 1em 1em 1em 1em;
    color: #fff;
}
.lndLinks {
    height: 50px;
    width: 50px;
}
.hdTxt {
    margin: 0px 0px 1px 0px;
}
.lndH6 {
    font-weight: bold;
    margin: 1em 1em 1em 1em;
}
.btnRow {
    margin: 0.5em 1.6em 0em 1.6em;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
.signInContactRow {
    margin: 1em 0em 0em 0em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.resumeBtn {
    height: 30px;
    width: 70px;
    padding: 0em 0.2em 0em 0.2em;
    margin: 0em 0em 0em 0em;
}
.resumeDocsBtn {
    height: 30px;
    width: 70px;
    padding: 0em 0.2em 0em 0.2em;
    margin: 0em 0em 0em 0em;
}
.lndSignIn {
    height: 30px;
    width: 70px;
    padding: 0em 0.2em 0em 0.2em;
    margin: 0em 0em 0em 0em;
}
/** Footer CSS **/
.mainFooter {
    background-color: #373940;
    color: #ffffff;
    padding:1em;
    height: 10vh;
    width: 100%;
}
.row {
    justify-content: center;
    background-color: #373940;
}
.column {
    background-color: #373940;
    height: 100%;
}
.footer-links {

    padding: 0px 0px 0px 0px;
}
.git-link {
    justify-content: center;
    margin: 0px 0px 0px 0px;
    padding: 12px 0px 4px 0px;
    height: 100%;
    width: 100%;
}

/** ContactPage CSS **/

.contactMain {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0em 0em 0em 0em;
    padding: 4em 1em 0em 1em;
    line-height: 1.6;

}
.formContainer {
    margin: 0em auto 2em auto;
    width: 100%;
    background-color: #373940;
    border-radius: 1rem;
}
    .formContainer > * {
        color: #fff;
        padding: 1em;
    }
.contactInfo {
    border-top-left-radius:1rem;
    border-top-right-radius:1rem;
    margin: 0em 0em 0em 0em;
    text-align: center;
    background-color: #373940;
    border-bottom: 2px solid #202124;
    display:grid;
    grid-template-columns: 1fr 2fr;

}
.pForm {
    margin: 0em 0em 0em 0em;
    font-size: 14px;
}
.pFormEmail {
    font-size: 11px;
}

.contactForm form {
    margin: 0em 0em 0em 0em;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px
}
.contactForm form label{
    display:block;
}
.contactForm form p{
    margin: 0em;
}
    .contactForm h3 {
        text-align:center;
    }
.full{
    grid-column: 1 / 3;
}
.fullBtn {
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
}
.submitBtnContact {
    width: 100%;
    text-transform: uppercase;
    border: 2px solid rgba(80,80,80,0.7);
}
.emailInput {
    border: 2px solid rgba(80,80,80,0.7);
    border-radius: 1rem;
    width: 100%;
}
.emailInputMsg {
        border: 2px solid rgba(80,80,80,0.7);
        border-radius: 1rem;
        width:100%;
}
.contactImage {
    content: url("/JHall.jpg");
    border: 2px solid rgba(130,130,130,1);
    margin: 1em 0em 0em 0em;
    height: 60%;
    width: 100%;
}
.cInfo {
    padding: 2em 0em 0em 0em;
}
.alert {
    position: static;
    text-align: center;
    justify-content: center;
    display: none;
    padding: 10px 10px 10px 10px;
    background-color: #79c879;
    color: #fff;
    margin: -5em 0em 2.08em 0em;
    width: 100%;
}

/** SignInPage CSS **/

.mSignIn {
    padding: 4em 1em 2em 1em;
    margin: 0em 0em 0em 0em;
    text-align: center;
}
.signInBox {
    width: 100%;
    justify-content: center;
    background-color: #373940;
    margin: 0em auto 0em auto;
    padding: 1em 0em 1em 0em;
    border-radius: 1rem;
    color: #fff;
    box-shadow: 0 0 20px 0 rgba(45,45,45,0.7);
}
.basicSignIn {
    border: 1px solid rgba(100,100,100,1);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    display: flex;
    flex-direction: row;
    margin: 0em 1.3em 0em 1.3em;
}
    .basicSignIn Button {
        width: 70px;
        height: 60px;
        display: flex;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        margin: 0em 0em 0em 0.1em;
        padding: 0em 0em 0em 0.25em;
      
    }
.inputBasic {
    display: flex;
    flex-direction: column;
    padding: 0em 0em 0em 0em;
    width: 100%;
}
.socialLogIns {
    margin: 0em 1em 0em 1em;
}
/** SignUpPage CSS **/
.mSignUp {
    padding: 6em 2em 4em 2em;
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0em 0em 0em 0em;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    box-sizing: border-box;

}
.signUpBox {
    width: 100%;
    max-width: 328px;
    justify-content: center;
    background-color: #373940;
    margin: 0em auto 0em auto;
    padding: 1em 1em 1em 1em;
    border-radius: 1rem;
    color: #fff;
    box-shadow: 0 0 20px 0 rgba(45,45,45,0.7);
}
.signUpBox form {
    display:flex;
    flex-direction:column;
    justify-content: center;
}
    .signUpBox form input {
        align-self:center;
        margin: 0.5em 0em 0em 0em;
        border: 2px solid rgba(80,80,80,0.7);
        border-radius: 1rem;
        width: 100%;
        text-indent: 5px;
    }
.signUpBtn {
    align-self:center;
    height: 30px;
    width: 70px;
    padding: 0em 0.2em 0em 0.2em;
    margin: 0.5em 0em 0em 0em;
}
/** AccountPage CSS **/

.mAccountDiv {
    padding: 6em 2em 4em 2em;
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0em 0em 0em 0em;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    box-sizing: border-box;

}
.accountBox {
    width: 100%;
    justify-content: center;
    background-color: #373940;
    margin: 0em auto 0em auto;
    padding: 1em 0em 1em 0em;
    border-radius: 1rem;
    color: #fff;
    max-width: 336px;
    box-shadow: 0 0 20px 0 rgba(45,45,45,0.7);
}
    .accountBox h1 {
        width: 100%;
        padding:0em 0.5em 1em 0.5em;
        text-align:center;
        font-size:20px;
    }
    .accountBox p {
        font-weight: bold;
        line-height: 10px;
        margin: 1em 0em 1em 0em;
    }
.forgotPassForm {
    width: 90%;
    margin: 0em auto 0em auto;
    justify-content: center;
    display: flex;
    flex-direction: row;
}
    .forgotPassForm input {
        padding: 0em;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0em;
        text-indent: 5px;
        border-bottom-left-radius: 1rem;
        border-top-left-radius: 1rem;
    }
.forgotPassBtn {
    height: 30px;
    width: 50px;
    margin: 0em 0em 0em 0em;
    padding: 0em;
}
.changePassForm {
    width: 90%;
    margin: 0em auto 0em auto;
    justify-content:center;
    display: flex;
    flex-direction: row;
}
.changePassBtn {
    height: 60px;
    width: 50px;
    margin: 0em 0em 0em 0em;
    padding: 0em;
}
.changePassInputs {
    padding: 0em;
    width: 100%;
    display:flex;
    flex-direction:column;
    margin:0em;

}
    .changePassInputs input {
        text-indent: 5px;
        border-bottom-left-radius: 1rem;
        border-top-left-radius: 1rem;
    }
.socialBtns {
    width: 100%;
    display: flex;
    padding: 0em 1em 0em 1em;
    margin: 0em 0em 0em 0em;
    flex-direction: column;
}
    .socialBtns li {
        display: flex;
        width: 100%;
        margin: 0em 0em 0em 0em;
    }.socialBtns li div {
         width:100%;
         margin:0.2em 0.2em 0.2em 0.2em!important;
     }
     .googleBtn {
         margin: 0em!important;
     }
        .googleBtn div {
            margin: 0em !important;
            padding: 0em !important;
            font-size: 14px !important;
            clear: both;
            display: inline-block;
            white-space: nowrap;
            justify-content:flex-start!important;
        }
.facebookBtn {
    margin: 0em !important;
}

    .facebookBtn div {
        margin: 0em !important;
        padding: 0em !important;
        font-size: 14px !important;
        clear: both;
        display: inline-block;
        white-space: nowrap;
        justify-content: flex-start !important;
    }
.twitterBtn {
    margin: 0em !important;
}

    .twitterBtn div {
        margin: 0em !important;
        padding: 0em !important;
        font-size: 14px !important;
        clear: both;
        display: inline-block;
        white-space: nowrap;
        justify-content: flex-start !important;
    }
.passResetForm {
    width: 100%;
    margin: 0em auto 0em auto;
    justify-content: center;
    display: flex;
    flex-direction: row;
}
.turnOffPass {
    display: flex;
    width: 100%;
    margin: 0em 0.3em .2em 0.3em;
    justify-content:center;
    align-self:center;
}

/** Screen Size Related CSS **/

@media(min-width:700px){
    .mainFooter {
        background-color: #373940;
        color: #ffffff;
        height: 9.4vh;
        width: 100%;
    }
    .mSignUp {
        height: 100%;
        padding: 10em 2em 8em 2em;
    }
    .mAccountDiv {
        padding: 4em 2em 4em 2em;
        display: flex;
        height: 100%;
        width: 100%;
        margin: 0em 0em 0em 0em;
        justify-content: center;
        align-content: center;
        align-items: center;
        align-self: center;
        text-align: center;
        box-sizing: border-box;
    }
    .signInBox {
        width: 100%;
        padding: 0em;
        max-width: 440px;
        
        margin: 0em auto 0em auto;
    }
    .mSignIn {
        height: 100%;
        padding: 14em 1em 2em 1em;
 }
    
    .basicSignIn {
        border: 1px solid rgba(100,100,100,1);
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        
        display: flex;
        flex-direction: row;
        margin: 0em 2.3em 1em 2.3em;
    }
    .inputBasic {
        padding: 0em 0em 0em 0em;
        width: 100%;
    }
    .socialLogIns {
        margin: 0em 2em 0em 2em;
    }
    .lndMain {

        height: 90.6vh;

    }
    .lndHeader {
        width: 80%;
        max-width:700px;
    }
    .hmDeck {
        flex-direction:row;
    }
    .linkNoLine {
        height: 50%;
        width: 50%;
    }
    .linkNoLine2 {
        height: 50%;
        width: 50%;
    }
    .cardFull {
        background-color: #373940;
        padding: 0em 0em 0em 0em;
        margin: 2em 0em 0em 0em;
        
        
    }
    .contactMain {
        margin: 0em 0em 0em 0em;
        padding: 10em 13% 17em 13%;
    }
    .formContainer {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    .contactInfo {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        border-bottom-left-radius: 1rem;
        border-right: 2px solid #202124;
        border-top-left-radius: 1rem;
        border-top-right-radius: 0rem;
        margin: 0em 0em 0em 0em;
        text-align: center;
        background-color: #373940;
        border-bottom: 0px hidden #202124;
    }
    .contactImage {
        align-self: center;
        height: 50%;
        width: 40%;
    }
    .cInfo {
        padding: 0em 0em 0em 0em;
        margin: 0em 0em 2em 0em;
    }

    .mTitle {
        align-self:center;
        padding: 1em 0em 0.5em 0em;
        margin: 5em 0em 2em 0em;
    }

        .mTitle h1 {
            font-size: 24px;
        }

        .mTitle h4 {
            font-size: 15px;
            padding: 0em 3em 0em 3em;
        }

        .summaryBox h3 {
            font-size: 20px;
            font-weight: bold;
        }

    .sumBoxLang {
        font-size: 15px;
    }

        .sumBoxLang h6 {
            font-size: 18px;
            font-weight: bold;
        }

    .sumBoxObj {
        font-size: 15px;
        margin: 0em 2em 0em 2em;
    }

        .sumBoxObj h5 {
            font-size: 18px;
            font-weight: bold;
        }

    .sumBoxSkills {
        font-size: 15px;
        margin: 0em 2em 0em 2em;
    }

        .sumBoxSkills h5 {
            font-size: 18px;
            font-weight: bold;
        }
    .employmentBox {
        text-align: center;
        align-content: center;
        align-items: center;
        justify-content: center;
        margin: 0em auto 2em auto;
        width: 100%;
        background-color: #373940;
        border-radius: 1rem;
        box-shadow: 0 0 20px 0 rgba(45,45,45,0.7);
    }

        .employmentBox h6 {
            padding: 0.3em 0em 0em 0em;
            margin: 0em;
            font-size: 18px;
            font-weight: bold;
        }

    .employmentGrid {
        display: grid;
        grid-template-columns: 1fr;
        font-size: 15px;
        margin: 0em;
        padding: 0em;
        line-height: 1px;
    }
    .workTitle {

    }
    .firstJob {
        margin: 0.5em 0.5em 0em 0.5em;
        padding: 1em 0em 1em 0em;
        background-color: #4b4b4b;
        border-radius: 0.5rem;
    }

    .Collapsible {
        width: 100%;
    }

    .jobGrid {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .dateSpan {
        font-size: 12px;
    }

    .companyLoc {
        font-size: 12px;

    }

    .jobInfo {
        line-height: 18px;
        font-size: 15px;
        padding: 0em 0.5em 0em 0.5em;
    }

    .secondJob {
        margin: 0.5em 0.5em 0em 0.5em;
        padding: 1em 0em 1em 0em;
        background-color: #4b4b4b;
        border-radius: 0.5rem;
    }

    .thirdJob {
        margin: 0.5em 0.5em 0em 0.5em;
        padding: 1em 0em 1em 0em;
        background-color: #4b4b4b;
        border-radius: 0.5rem;
    }

    .fourthJob {
        margin: 0.5em 0.5em 0.5em 0.5em;
        padding: 1em 0em 1em 0em;
        background-color: #4b4b4b;
        border-radius: 0.5rem;
    }

    .educationBox h6 {
        padding: 0.3em 0em 0em 0em;
        margin: 0em;
        font-size: 18px;
        font-weight: bold;
    }

    .educationGrid {
        font-size: 15px;
        line-height: 2px;
    }
    .interestBox {
        text-align: center;
        align-content: center;
        align-items: center;
        justify-content: center;
        align-self: center;
        width: 100%;
        max-width: 800px;
        margin: 0em 0em 0em 0em;
        background-color: #373940;
        border-radius: 1rem;
        box-shadow: 0 0 20px 0 rgba(45,45,45,0.7);
    }

        .interestBox h5 {
            padding: 0.5em 0em 0em 0em;
            font-weight: bold;
        }

        .interestBox h2 {
            padding: 0em 0em 0.5em 0em;
        }

        .interestBox p {
            font-size: 15px;
            margin: 0.5em 2em 0em 2em;
        }
    .bgBtn {
        position: fixed;
        top: 7%;
        left: 8px;
        margin: 0em 0em 0em 0em;
        padding: 0px 0px 0px 0px;
        height: 44px;
        width: 52px;
        font-size: 30px;
    }

    .contactBtn {
        position: fixed;
        top: 7%;
        right: 8px;
        margin: 0em 0em 0em 0em;
        padding: 0px 0px 0px 0px;
        height: 44px;
        width: 52px;
        font-size: 30px;
    }
    .contactBtnLnd {
        position: fixed;
        top: 7%;
        right: 8px;
        margin: 0em 0em 0em 0em;
        padding: 0px 0px 0px 0px;
        height: 44px;
        width: 52px;
        font-size: 30px;
    }
}
@media(min-width:800px){
    .lndMain {

        height: 90.6vh;

    }

    .lndHeader {
        width: 80%;
        margin:0em auto 0em auto;
    }
}
@media(min-width:900px) {
    .lndMain {

        height: 90.6vh;

    }

    .lndHeader {
        width: 80%;
    }
    .contactMain {
        margin: 0em 0em 0em 0em;
        padding: 10em 18% 17em 18%;
    }
    .pForm {
        margin: 0em 0em 0em 0em;
        font-size: 16px;
    }

    .pFormEmail {
        font-size: 13px;
    }
    .lndHeader {
        width: 60%;
    }
}


@media(min-width:1200px) {

    .formContainer {
        max-width: 758px;
    }
    .pForm {
        margin: 0em 0em 0em 0em;
        font-size: 16px;
    }

    .pFormEmail {
        font-size: 16px;
    }
    .wideSumEmp {
        display: grid;
        margin: -2em auto -1.5em auto;
        padding:2.8em 0em 1em 0em;
        max-width: 800px;
        grid-template-columns: 1fr 1fr;

    }
    .summaryBox{
        max-width:380px;
        margin-left: 20px;
    }
    .employmentBox {
        max-width: 380px;
    }
    .lndMain {
        height: 90.6vh;
    }

}
@media(min-width:1300px) {
    .lndMain {
        height: 90.6vh;
    }
    .mAccountDiv {
        height: 90.6vh;
    }
    .mSignUp {
        height: 90.6vh;
    }
    .contactMain {
        height:90.6vh;
    }
    .mSignIn {
        height: 90.6vh;
        padding: 14em 1em 2em 1em;
    }
    .mDiv {
        padding: 4em 1em 2em 1em;
    }
}
@media(min-width:1600px) {
    .formContainer {
        width: 1014px;
    }
}
@media(min-width:1800px) {
        .contactMain {
            margin: 0em 0em 0em 0em;
            padding: 10em 25% 17em 25%;
        }
}
@media(min-width:2800px){
    .linkNoLine {
        height: 50%;
        width: 50%;
    }

    .linkNoLine2 {
        height: 50%;
        width: 50%;
    }
    .cardFull {
        background-color: #373940;
        padding: 0em 0em 0em 0em;
        margin: 5em 0em 0em 0em;
    }
}
@media(min-width:3800px){
    .mDiv {
        padding: 6em 1em 2em 1em;
        height: 90.6vh;
    }
    .lndMain {
        height: 90.6vh;
        margin: 14em 0em 0em 0em;
    }
}