/** CSS not final mostly used for structure and layout currently **/
html {
    
    height: 100%;
    width: 100%;
}
body {
    
    margin: 0%;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont,"Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#root {
    min-height: 100%;
    min-width: 100%;
    max-Height: 100%;
    max-Width: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}



/** Navigation CSS **/
Button {
    height: 44px;
    width: 88px;
}
.dropdown-menu {
    padding: 0px;
    margin: -0.4em 0em 0em 0em;
    border-radius: .36rem;
    background-color: #373940;
}
.dropdown-divider {
    padding: 0px;
    margin: 0px 0px -3px 0px;
    border-top: 5px solid rgba(255, 255, 255, 0.3);
}
.signOutBtn {
    height: 100%;
    width: 100%;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
    padding: 0px;
}
.signOutBox {
    height: 100%;
    width: 100%;
    padding: 0px;
}
.adminBtn {
    padding: 0px;
}
.accountBtn {
    padding: 0px;
}
.homeBtn {
    padding: 0px;
}
.lndBtn {
    padding: 0px;
}
.signInBtn {
    padding: 0px;
}

btn-danger {
    color: #fff;
    padding: -2px -6px -2px -6px;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130
}

.btn-danger.focus, .btn-danger:focus {
    box-shadow: 0 0 0 .2rem rgba(225,83,97,.5)
}
.mainNav {
    height: 6vh;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0%;
    padding-left: 6px;
    list-style-type: none;
    background-color: #373940;
    font-size-adjust: 0.50;
    z-index: 1
}
.banner {
    flex:1;
    height: 100%;
    width: 40%;
    margin: 0px 0px 0px 6px;
    font-size: 100%;
    list-style-type: none;
    display: inline-flex;
    align-self: center;
    align-items: center;
    
    justify-content: space-between
}
.linksDiv {
    display:flex;
    font-size: 100%;
}
.links {
    display: flex;
    font-size: 100%;
    height: 100%;
    justify-content: center;
    padding: 0px 0px 0px 0px;
}
.dropdown-item {
    text-align: center;
    padding: 0px 0px 0px 0px;
    
}
.dropdown-item.active {
        background-color: rgba(255, 255, 255, 1);
    }
.userNav {
    height: 100%;
    margin-right: 5px;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
ul {
    height: 100%;
    list-style-type: none;
    margin:0px;
}
.lNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li {
    display: flex;
    margin: 2px;
    padding:0px;
}


/** Home **/
bubbleLoad {
    color: blue;
}
.bgBtn {
    position: fixed;
    top: 7%;
    left: 8px;
    margin: 0em 0em 0em 0em;
    padding: 0px 0px 0px 0px;
    height: 22px;
    width: 26px;
    font-size: 15px;
}

.contactBtn {
    position: fixed;
    top: 7%;
    right: 8px;
    margin: 0em 0em 0em 0em;
    padding: 0px 0px 0px 0px;
    height: 22px;
    width: 26px;
    font-size: 15px;
}
.mDiv {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 0em 2.5em 2em 2.5em;
    margin: 0em 0em 0em 0em;
    background-color: rgba(255, 255, 255, 0.80);
    color: #ffffff;
    background-image: url('images/Large-Triangles.svg');
}
.BtnsDiv {

    margin: 0em 0em 0em 0em;
    padding: 0em 0em 0em 0em;
}
.hmMsgList {
    margin-top: 2px;
}
.moreBtn {
    margin: 2px;
}
.hmDeck {
    padding: 0px;
    margin: 0px;
}
.card {
    background-color: #373940;
}
.cardFull {
    background-color: #373940;
    padding: 0em 0em 0em 0em;

}
.linkNoLine:hover {
    text-decoration-color: #fff;
}
.linkNoLineFull:hover {
    text-decoration-color: #fff;
}
.mTitle {
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 1em 0em 0.5em 0em;
    margin: 5em 0em 2em 0em;
    width: 100%;
    background-color: #373940;
    border-radius: 1rem;
    box-shadow: 0 0 20px 0 rgba(45,45,45,0.7);
}
    .mTitle h1 {
        font-size: 18px;
    }
    .mTitle h4 {
        font-size: 14px;
        padding: 0em 3em 0em 3em;
    }
.summaryBox {
    padding: 0.5em 0em 0.5em 0em;
    margin: 0em 0em 2em 0em;
}

    .summaryBox h3 {
        font-size: 20px;
        font-weight: bold;
    }

.sumBoxLang {
    font-size: 12px;
}

    .sumBoxLang h6 {
        font-size: 16px;
        text-decoration-line: underline;
    }

.sumBoxObj {
    font-size: 12px;
    margin: 0em 2em 0em 2em;
}

    .sumBoxObj h5 {
        font-size: 16px;
        text-decoration-line: underline;
    }

.sumBoxSkills {
    font-size: 12px;
    margin: 0em 2em 0em 2em;
}

    .sumBoxSkills h5 {
        font-size: 16px;
        text-decoration-line: underline;
    }
.interestBox {
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin: 1em 0em 0em 0em;
    width: 100%;
    background-color: #373940;
    border-radius: 1rem;
    box-shadow: 0 0 20px 0 rgba(45,45,45,0.7);
}
    .interestBox h5 {
        padding: 0.5em 0em 0em 0em;
        text-decoration-line: underline;
    }
    .interestBox h2 {
        padding: 0em 0em 0.5em 0em;
    }
    .interestBox p {
        font-size: 13px;
        margin: 0.5em 2em 0em 2em;
    }
.educationBox {
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin: 0em auto 2em auto;
    width: 100%;
    background-color: #373940;
    border-radius: 1rem;
    box-shadow: 0 0 20px 0 rgba(45,45,45,0.7);

}
    .educationBox h6 {
        padding: 0.3em 0em 0em 0em;
        margin: 0em;
        font-size: 16px;
        text-decoration-line: underline;
    }
    .educationGrid {
        display: grid;
        grid-template-columns: 1fr;
        font-size: 12px;
        margin: 0em;
        padding: 0em;
        line-height: 1px;
    }
.firstDiploma {
    margin: 0.5em 0.5em 0em 0.5em;
    padding: 1em 0em 0em 0em;
    background-color: #4b4b4b;
    border-radius: 0.5rem;
}
.secondDiploma {
    margin: 0.5em 0.5em 0.5em 0.5em;
    padding: 1em 0em 0em 0em;
    background-color: #4b4b4b;
    border-radius: 0.5rem;
}
.employmentBox {
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin: 0em auto 2em auto;
    width: 100%;
    background-color: #373940;
    border-radius: 1rem;
    box-shadow: 0 0 20px 0 rgba(45,45,45,0.7);
}
.employmentBox h6 {
    padding: 0.3em 0em 0em 0em;
    margin: 0em;
    font-size: 16px;
    text-decoration-line: underline;
}
.employmentGrid {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 12px;
    margin: 0em;
    padding: 0em;
    line-height: 1px;
}
.firstJob {
    margin: 0.5em 0.5em 0em 0.5em;
    padding: 1em 0em 1em 0em;
    background-color: #4b4b4b;
    border-radius: 0.5rem;

}
.Collapsible {
    width:100%;
}
.jobGrid {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.workTitle {

}
.dateSpan {
    font-size:10px;
}
.companyLoc {
    font-size:10px;
}
.jobInfo {
    line-height: 14px;
    font-size: 14px;
    padding: 0em 0.5em 0em 0.5em;
}
.secondJob {
    margin: 0.5em 0.5em 0em 0.5em;
    padding: 1em 0em 1em 0em;
    background-color: #4b4b4b;
    border-radius: 0.5rem;
}
.thirdJob {
    margin: 0.5em 0.5em 0em 0.5em;
    padding: 1em 0em 1em 0em;
    background-color: #4b4b4b;
    border-radius: 0.5rem;
}
.fourthJob {
    margin: 0.5em 0.5em 0.5em 0.5em;
    padding: 1em 0em 1em 0em;
    background-color: #4b4b4b;
    border-radius: 0.5rem;
}
.summaryBox {
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin: 0em auto 2em auto;
    width: 100%;
    background-color: #373940;
    border-radius: 1rem;
    box-shadow: 0 0 20px 0 rgba(45,45,45,0.7);
}

/** Landing CSS **/
.lndMain {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    margin: 0em 0em 0em 0em;
    padding: 10em 5% 12% 5%;
    line-height: 1.6;
    background-color: #92bde7;
    background-image: url('images/old.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.lndHeader {
    margin: 0em auto 8em auto;
    width: 100%;
    background-color: #373940;
    border-radius: 1rem;
    box-shadow: 0 0 20px 0 rgba(45,45,45,0.7);

    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    width: 80%;
    padding: 1em 1em 2em 1em;
    color: #fff;
}
.hdTxt {
   margin: 0px 0px 1px 0px;
}
.lndH6 {
    text-decoration-line: underline;
    margin: 1em 1em 1em 1em;
}
.btnRow {
    margin: 1em 1em 0em 1em;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
/** Footer CSS **/
.mainFooter {
    background-color: #373940;
    color: #ffffff;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.row {
    justify-content: center;
    background-color: #373940;
}
.column {
    background-color: #373940;
    height: 100%;
}
.footer-links {

    padding: 0px 0px 0px 0px;
}
.git-link {
    justify-content: center;
    margin: 0px 0px 0px 0px;
    padding: 12px 0px 4px 0px;
    height: 100%;
    width: 100%;
}

/** ContactPage CSS **/

.contactMain {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    margin: 0em 0em 0em 0em;
    padding: 10em 5% 14% 5%;
    line-height: 1.6;
    background-color: #92bde7;
    background-image: url('images/old.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.formContainer {
    margin: 0em auto 2em auto;
    width: 100%;
    background-color: #373940;
    border-radius: 1rem;
    box-shadow: 0 0 20px 0 rgba(45,45,45,0.7);
}
    .formContainer > * {
        color: #fff;
        padding: 1em;
    }
.contactInfo {
    border-top-left-radius:1rem;
    border-top-right-radius:1rem;
    margin: 0em 0em 0em 0em;
    text-align: center;
    background-color: #373940;
    border-bottom: 2px solid #202124;
    display:grid;
    grid-template-columns: 1fr 2fr;

}
.pForm {
    margin: 0em 0em 0em 0em;
    font-size: 14px;
}
.pFormEmail {
    font-size: 11px;
}

.contactForm form {
    margin: 0em 0em 0em 0em;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px
}
.contactForm form label{
    display:block;
}
.contactForm form p{
    margin: 0em;
}
    .contactForm h3 {
        text-align:center;
    }
.full{
    grid-column: 1 / 3;
}
.fullBtn {
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
}
.submitBtnContact {
    width: 100%;
    text-transform: uppercase;
    border: 2px solid rgba(80,80,80,0.7);
}
.emailInput {
    border: 2px solid rgba(80,80,80,0.7);
    border-radius: 1rem;
    width: 100%;
}
.emailInputMsg {
        border: 2px solid rgba(80,80,80,0.7);
        border-radius: 1rem;
        width:100%;
}
.contactImage {
    content: url(./images/JHall.png);
    border: 2px solid rgba(130,130,130,1);
    margin: 1em 0em 0em 0em;
    height: 60%;
    width: 80%;
}
.cInfo {
    padding: 2em 0em 0em 0em;
}
.alert {
    position: static;
    text-align: center;
    justify-content: center;
    display: none;
    padding: 10px 10px 10px 10px;
    background-color: #79c879;
    color: #fff;
    margin: -5em 0em 2.08em 0em;
    width: 100%;
}


/** Screen Size Related CSS **/

@media(min-width:700px){
    .lndHeader {
        width: 80%;
    }
    .hmDeck {
        flex-direction:row;
    }
    .linkNoLine {
        height: 50%;
        width: 50%;
    }
    .linkNoLineFull {
        height: 50%;
        width: 50%;
        }


    .cardFull {
        background-color: #373940;
        padding: 0em 0em 0em 0em;
        margin: 2em 0em 0em 0em;
        
        
    }
    .cardImg1 {
    }
    .contactMain {
        margin: 0em 0em 0em 0em;
        padding: 10em 13% 17em 13%;
    }
    .formContainer {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    .contactInfo {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        border-bottom-left-radius: 1rem;
        border-right: 2px solid #202124;
        border-top-left-radius: 1rem;
        border-top-right-radius: 0rem;
        margin: 0em 0em 0em 0em;
        text-align: center;
        background-color: #373940;
        border-bottom: 0px hidden #202124;
    }
    .contactImage {
        align-self: center;
        height: 50%;
        width: 40%;
    }
    .cInfo {
        padding: 0em 0em 0em 0em;
        margin: 0em 0em 2em 0em;
    }


}

@media(min-width:900px) {
    .lndHeader {
        width: 632px;
    }
    .contactMain {
        margin: 0em 0em 0em 0em;
        padding: 10em 18% 17em 18%;
    }
    .pForm {
        margin: 0em 0em 0em 0em;
        font-size: 16px;
    }

    .pFormEmail {
        font-size: 13px;
    }
}
@media(min-width:1200px) {
    .formContainer {
        width: 758px;
    }
    .pForm {
        margin: 0em 0em 0em 0em;
        font-size: 16px;
    }

    .pFormEmail {
        font-size: 16px;
    }
}
@media(min-width:1600px) {
    .formContainer {
        width: 1014px;
    }
}
@media(min-width:1800px) {
        .contactMain {
            margin: 0em 0em 0em 0em;
            padding: 10em 25% 17em 25%;
        }
}